[Desktop Entry]
Name=Агент Василиса
Exec=/usr/lib/vasilisa/Vasilisa %U
Icon=/usr/share/pixmaps/vasilisa.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/vasilisa;